

.header {
    max-height: 100%;
    display: inline-block;
    width: 100%;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(85, 189, 155, 1) 40%, rgba(76, 153, 128, 1) 88%);
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    width: calc(100% / 3);
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    display: block;
    width: 100%;
    background-color: lightskyblue;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: cornflowerblue;
}

main {
    width: 80%;
    margin: 3rem auto;
}

h1 {
    height: 34px;
    font-size: 28px;
}

.map-canvas {
    width: 100%;
    height: 50%;
    background-color: ghostwhite;
}

.canvas {
  background-color: rgb(0, 20, 56);
}

body {
    background-color: white;
    text-align: center;
    font-family: sans-serif;
  }
  
  .land {
    fill: #dddddd;
  }
  
  .border {
    fill: none;
    stroke-width: 1px;
  }
  
  .interior {
    stroke: white;
  }
  
  .exterior {
    stroke: #bbbbbb;
  }
  
  .airport {
    fill: white;
    opacity: 0.6;
    stroke: #252525;
  }
  
  .flight {
    fill: none;
    stroke: #252525;
    stroke-width: 1px;
    stroke-opacity: 0.1;
  }
  
  
  .highlight {
    opacity: 1 !important;
    stroke: red !important;
    stroke-width: 2px !important;
    stroke-opacity: 0.8 !important;
  }

  
  /* shadow trick from bl.ocks.org */
  #tooltip {
    font-size: 10pt;
    font-weight: 900;
    fill: white;
    text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
  }